*{
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text-container h1 {
    margin: 0;
}

.text-field, .login-button, .addUser {
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 20px 0 0 20px; 
}

.login-cont{
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.login-button {
    background-color: #0E1040;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-align: center;
}

.login-button:hover {
    background-color: #1A1C59;
    color: #FFFFFF;
    text-decoration: none;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.icon-border {
    background-color: #6484E1;
    color: #FFFFFF;
    width: 38px; 
    height: 32px;
    border: 1px solid; 
    padding: 5px; 
    border-radius: 10px; 
    text-decoration: none;
}

.icon-border-delete {
    background-color: #FC0202;
    color: #FFFFFF;
    width: 38px; 
    height: 32px;
    border: 1px solid; 
    padding: 5px; 
    border-radius: 10px; 
    text-decoration: none;
    cursor: pointer;
}   

.addUser {
    background-color: #6484E1;
    color: #FFFFFF;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    padding: 4px;
    display: flex;
    transition: background-color 0.3s ease; 
}

.addUser:hover {
    background-color: #4A6ABF; 
    text-decoration: none;
    color: #FFFFFF;
}

.editUser{
    cursor: pointer;
}

.eventBtn{
    color: #FFFFFF;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    padding: 4px;
    display: flex;
    transition: border 0.3s ease;
}

.eventBtn:hover{
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF; 
}

.addBtn{
    color: #FFFFFF;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    padding: 4px;
    display: flex;
    transition: border 0.3s ease;
    cursor: pointer;
}

.addBtn:hover{
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF; 
}

.grid-icon {
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.5em;
}
.custom-grid-4x4 {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.cctv h1{
    font-size: 18px;
    font-weight: bold;
}

.btn.dropdown-toggle {
    background-color: white;
    color: gray;
    border: 1px solid #ced4da;
}

.btn.dropdown-toggle:hover,

.btn.dropdown-toggle:focus,

.btn.dropdown-toggle:active,

.btn.dropdown-toggle:active:focus {
    background-color: white !important;
    color: gray !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.dropdown-menu {
    width: 100%;
    border: 1px solid #ced4da;
}

.dropdown-item {
    color: #6c757d;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.viewCCTV{
    cursor: pointer;
}

.daterangepicker, .tanggal {
    z-index: 999999 !important;
}

#datePickerInput{
    /* width: auto; */
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#datePickerChart {
    border: none;
    background-color: transparent;
    /* padding: 8px 12px; */
    font-size: 18px;
    color:#0E1040;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

